<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <img src="assets/img/logo_looty.png" id="logo">
    </ion-buttons>

    <ion-title id="pageName">Règle du jeu</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div id="connexion_panel">

    <ion-card>
      <ion-card-content>
        <h1>Explication du jeu</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget aliquet nisl. Fusce et sodales nisl. Duis sollicitudin egestas dignissim. Vestibulum est risus, dictum luctus est nec, egestas ultrices nisi. Proin in facilisis massa. Praesent at lectus pellentesque, cursus magna sit amet, fringilla dolor. Ut malesuada nunc diam, faucibus aliquam mauris imperdiet eu. Vivamus at risus nec arcu interdum imperdiet. Mauris venenatis lectus eget lorem vulputate tincidunt. Nam ut aliquet enim. Sus</p>
        <h1>Composition du jeu</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget aliquet nisl. Fusce et sodales nisl. Duis sollicitudin egestas dignissim. Vestibulum est risus, dictum luctus est nec, egestas ultrices nisi. Proin in facilisis massa. Praesent at lectus pellentesque, cursus magna sit amet, fringilla dolor. Ut malesuada nunc diam, faucibus aliquam mauris imperdiet eu. Vivamus at risus nec arcu interdum imperdiet. Mauris venenatis lectus eget lorem vulputate tincidunt. Nam ut aliquet enim. Sus</p>
        <h1>Comment jouer ?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget aliquet nisl. Fusce et sodales nisl. Duis sollicitudin egestas dignissim. Vestibulum est risus, dictum luctus est nec, egestas ultrices nisi. Proin in facilisis massa. Praesent at lectus pellentesque, cursus magna sit amet, fringilla dolor. Ut malesuada nunc diam, faucibus aliquam mauris imperdiet eu. Vivamus at risus nec arcu interdum imperdiet. Mauris venenatis lectus eget lorem vulputate tincidunt. Nam ut aliquet enim. Sus</p>
      </ion-card-content>
    </ion-card>
    <img src="assets/img/logo_looty.png" id="entete">


  </div>

</ion-content>
