ion-toolbar{
  --background: #0B222C;
  --color: white;
}

ion-content{
  --background: #E1E2E1;
}
ion-title#pageName{
  text-align: center;
  font-weight: 500;
}

#logo{
  width: 54px;
  height: 40px;
  filter: drop-shadow(0 0 0.75rem #000000);

}

#cartes{
  top:-16px;
  position: relative;
  background-color: #344955;
  width: 100%;
  height: 200px;
}

h5{
  text-align: center;
  color: white;
  font-size: 20px ;
}

.container {
  width: 100%;
  height: 70%;
  overflow: hidden;
  white-space: nowrap;
  ::-webkit-scrollbar {
    display: none;
  }
  .scroll {
    overflow: auto;
  }
}

.carte{
  height: 140px;
  padding-right: 10px;
}

#premiere_carte{
  padding-left: 5px;
}

#premier_ligne{
  width: auto;
  margin-left:5px;
  margin-right:5px;
  margin-top: -15px;
}

#deuxieme_ligne{
  width: auto;
  margin-left:5px;
  margin-right:5px;

}

ion-card{
  position: relative;
  width: 100%;
  margin-left:1px;
  margin-right:1px;
  height: 125px;
  filter: drop-shadow(0 0 0.5rem #757575);
}

.entete{
  position:relative;
  width:100%;
  height:42px;
}

ion-avatar{
  position:absolute;
  width: 40px;
  height: 40px;
  left:2px;
  top:5px;
  filter: drop-shadow(0 0 0.5rem #757575);
}

.pseudo{
  position:absolute;
  top:14px;
  left:44px;
  display: block;
  color:#344955;
  font-weight: bold;
  vertical-align: middle;
}

.img{
  width: 50px;
  height: 50px;
}

.body{
  position: relative;
  width: 100%;
  height: 40px;
}

.coffre{
  position: absolute;
  top:-15px;
  right:5px;
}


ion-text.nb_coffre{
  font-family: 'PixelSplitter', serif !important;
  filter: drop-shadow(0 0 0.5rem #757575);
  color:black;
  font-size: 20px;
  position: absolute;
  top:15px;
  left:10px;
}

.footer{
  position: relative;
  background-color: red;

}

.diamant{
  position: absolute;
  top:-20px;
  left:-3px;
}

.statut{
  position: absolute;
  top: -10px;
  right:10px;
  width: 40px;
  height: 40px;
}

.diamant_img{
  width: 60px;
  height: 60px;
}

.nb_diamant{
  font-family: 'PixelSplitter', serif !important;
  filter: drop-shadow(0 0 0.5rem #757575);
  color:black;
  font-size: 20px;
  position: absolute;
  top:10px;
  left:15px;
}

ion-button{
  width:167px;
  height:45px;
  --background:#F9AA33;
  --color: black;
  font-size:18px;
  font-weight: 500;
  margin-left:auto;
  margin-right: auto;
  vertical-align: middle;

}

.test{
  text-align: center;
}
