<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <img src="assets/img/logo_looty.png" id="logo">
    </ion-buttons>

    <ion-title id="pageName">Classement</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list>
    <h1>Défaites</h1>


    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/avatar.png">
      </ion-avatar>
      <ion-label>
        <h2>Finn</h2>
        <p>10 victoires</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/avatar.png">
      </ion-avatar>

      <ion-label>
        <h2>Han</h2>
        <p>10 victoires</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/avatar.png">
      </ion-avatar>

      <ion-label>
        <h2>Rey</h2>
        <p>10 victoires</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/avatar.png">
      </ion-avatar>

      <ion-label>
        <h2>Luke</h2>
        <p>10 victoires</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
