<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <img src="assets/img/logo_looty.png" id="logo">
    </ion-buttons>

    <ion-title id="pageName">Classement</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-list>
      <h1>Victoires</h1>


    <ion-item *ngFor="let entry of this.classementVictoire">
      <ion-avatar slot="start">
        <img src="{{entry.imageURL}}">
      </ion-avatar>
      <ion-label>
        <h2>{{entry.pseudo}}</h2>
        <p>{{entry.nb}} victoires</p>
      </ion-label>
    </ion-item>

  </ion-list>


</ion-content>
