<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <img src="assets/img/logo_looty.png" id="logo">
    </ion-buttons>
    <ion-title id="pageName">Partie en cours</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="cartes">
    <h5>Manche {{this.GAME.manche}}/5 | {{this.GAME.nb_diamant_attente}} diamants en attente</h5>
    <div class="container">
      <div class="scroll" scrollX="true">
        <img class="carte" id="premiere_carte" src="assets/img/cartes/deck.png">
        <span *ngFor="let carte of this.GAME.cartes, let i = index;">
          <img class="carte"  src="assets/img/cartes/{{carte}}.png" *ngIf="i<=GAME.carte_en_cours"> <!--On dévoile les cartes jusqu'à la carte en cours-->
        </span>
      </div>
    </div>
  </div>
  <ion-row id="premier_ligne">

    <!-- Affichage des cartes des 3 premiers joueurs -->
    <ion-col *ngFor="let player of this.GAME.players | slice:0:3, let i = index;"  >
      <ion-card class="joueur">
        <div class="entete">
          <ion-avatar>
            <img src="{{playersDisplay[i].imageURL}}">
          </ion-avatar>
          <ion-text class="pseudo">{{playersDisplay[i].pseudo}}</ion-text>
        </div>
        <div class="body">
          <div class="coffre">
            <img class="img" src="assets/img/coffre.png">
            <ion-text class="nb_coffre" *ngIf="player.uid == currentuser.uid">{{player.nb_diamant_total}}</ion-text>
          </div>
        </div>
        <div class="footer">
          <div class="diamant">
            <img src="assets/img/diamant.png" class="diamant_img">
            <ion-text class="nb_diamant">{{player.nb_diamant_manche}}</ion-text>
          </div>
          <img src="assets/img/mine.png" class="statut" *ngIf="player.etat == 'mine'">
          <img src="assets/img/camp.png" class="statut" *ngIf="player.etat == 'camp'">
        </div>
      </ion-card>
    </ion-col>


  </ion-row>
  <ion-row id="deuxieme_ligne">
    <!-- Affichage des cartes des 3 derniers joueurs -->
    <ion-col *ngFor="let player of this.GAME.players | slice: 3: 6, let i = index;"  >
      <ion-card class="joueur">
        <div class="entete">
          <ion-avatar>
            <img src="{{playersDisplay[i].imageURL}}">
          </ion-avatar>
          <ion-text class="pseudo">{{playersDisplay[i].pseudo}}</ion-text>
        </div>
        <div class="body">
          <div class="coffre">
            <img class="img" src="assets/img/coffre.png">
            <ion-text class="nb_coffre" *ngIf="player.uid == currentuser.uid">{{player.nb_diamant_total}}</ion-text>
          </div>
        </div>
        <div class="footer">
          <div class="diamant">
            <img src="assets/img/diamant.png" class="diamant_img">
            <ion-text class="nb_diamant">{{player.nb_diamant_manche}}</ion-text>
          </div>
          <img src="assets/img/mine.png" class="statut" *ngIf="player.etat == 'mine'">
          <img src="assets/img/camp.png" class="statut" *ngIf="player.etat == 'camp'">
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="test">
      <ion-button  block (click)="changeEtat('mine')" *ngIf="currentuser_game.status != 'attente'">EXPLORER</ion-button>
    </ion-col>
    <ion-col class="test">
      <ion-button  block (click)="changeEtat('rentre')" *ngIf="currentuser_game.status != 'attente'">RENTRER</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
