<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <img src="assets/img/logo_looty.png" id="logo">
    </ion-buttons>

    <ion-title id="pageName">Mon Compte</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <div id="panel">

    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="5" id="avatarCol">
              <ion-avatar>
                <img src="{{dataUser.img}}" id="avatar">
              </ion-avatar>
            </ion-col>
            <ion-col size="7" id="right-col">
              <h1 name="username">{{dataUser.pseudo}}</h1>
              <ion-text name="mail">{{dataUser.email}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div id="stat">
          <h2>Nombre de parties :</h2>
          <ion-text name="nb_parties" *ngIf="dataUser.nb_parties > 1">{{dataUser.nb_parties}} parties</ion-text>
          <ion-text name="nb_parties" *ngIf="dataUser.nb_parties <= 1">{{dataUser.nb_parties}} partie</ion-text>

          <h2>Nombre de parties remportées :</h2>
          <ion-text name="nb_victoires" *ngIf="dataUser.nb_victoires > 1">{{dataUser.nb_victoires}} parties remportées</ion-text>
          <ion-text name="nb_victoires" *ngIf="dataUser.nb_victoires <= 1">{{dataUser.nb_victoires}} partie remportée</ion-text>
          <h2>Pourcentage de victoire:</h2>
          <ion-text> {{dataUser.pourcentage_victoire *100}}% de victoire</ion-text>
          <ion-progress-bar value="{{dataUser.pourcentage_victoire}}"></ion-progress-bar>
        </div>
        <ion-button block [routerLink]="['/classement']">Classement</ion-button>
      </ion-card-content>
    </ion-card>


  </div>
</ion-content>
